@model MSAAssessmentApp.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>

        <dd>
            <table class="table">
                <tr>
                    <th>Assignments</th>
                    <th>Status</th>
                    <th>Due Date</th>
                    <th>Percentage</th>
                    <th>@Html.ActionLink("Add New Assignment", "Create", "Assignments", new { id = Model.CourseID }, null)</th>
                </tr>
                @foreach (var item in Model.Assignments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrentStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Percentage)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Assignments", new { id = item.AssignmentID }, null) |
                            @Html.ActionLink("Details", "Details", "Assignments", new { id = item.AssignmentID }, null) |
                            @Html.ActionLink("Delete", "Delete", "Assignments", new { id = item.AssignmentID }, null)
                        </td>
                    </tr>
                }
            </table>
        </dd>
      
    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
